<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vovavoca-Question</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.min.css" rel="stylesheet">

</head>
<style>
    .li-paddinghide{
        padding-left: 0px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 0px;
    }
</style>
<body id="page-top">
<nav style="background-color: #10184b !important;" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
    <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span style="font-weight: 800; font-size: 2.3rem;" class="d-block d-lg-none">VOVA VOCA</span>
        <span style="font-weight: 800; font-size: 2.3rem;" class="d-none d-lg-block">VOVA</span> &nbsp;
        <span style="font-weight: 800; font-size: 2.3rem;" class="d-none d-lg-block">VOCA</span>
    </a>
    <br><br>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/search">Search</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/question">Question</a>
            </li>
            <li class="nav-item">
                <a class="nav-link js-scroll-trigger" href="/about">About</a>
            </li>
        </ul>
    </div>
</nav>
<div class="container-fluid p-0">
    <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
        <div class='w-100'>
            <h2 class='mb-0'>Set Question</h2><br><br>
            <div class='resume-item d-flex flex-column flex-md-row justify-content-between mb-0'>
                <div class='resume-content'>
                    <div>
                        <button id="reinput" style="display: none;" class="btn btn-outline-dark">새 문제</button>
                    </div>
                    <form class='form-inline' id="form" method="post">
                        <label class='field a-field a-field_a1'>
                            <div class="input-group">
                                <textarea style="width: 320px; height: 240px;" name="content" id="content" class="form-control" aria-label="With textarea"></textarea>
                                <div class="input-group-prepend">
                                    <button type="button" id="submit" class="btn btn-outline-dark">Set</button>
                                </div>
                            </div>
                        </label>
                    </form>
                    <br>
                    <div id="tb"></div>
                    <div class="container">
                        <div class="row">
                            <div style="color: black;" class="col-sm-12" id="question"></div>
                            <br><br>
                            <div style="display: flex;" class="col-sm-2" id="answer"></div>
                        </div>
                    </div>
                    <div>
                        <span id="T" style="display: none" class="badge badge-pill badge-success">정답</span>
                        <span id="F"  style="display: none" class="badge badge-pill badge-danger">오답</span>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    let content = ""
    let solution = 0;

    $('#reinput').on("click", function () {
        $('#content').val("")
        $('#form').show()
        $('#reinput').hide()
        $('#tb').html("")
        $('#tb').hide()
        $('#problem').html("")
        $('#problem').hide()
    })

    $('#submit').on("click", function(){
        content = $('#content').val();
        if(content==""){
            alert("내용을 입력해주세요.")
        }else{
            $('#form').hide()
            $('#reinput').show()
            $('#tb').show()
            let word = content.split(' ');
            let str = "<ul class='list-group list-group-horizontal'>";
            for(let i in word){
                if(word[i]!="")
                    str = str + "<li class='list-group-item li-paddinghide' ><button class='btn btn-outline-secondary' onclick='makequestion("+i+")' style='border: none;' id='word'"+i+"'>"+word[i]+"</button></li>";
                if(i%10==9){
                    str = str +"</ul><ul class='list-group list-group-horizontal'>";
                }
            }
            str +="</ul>";
            $('#tb').html(str);
        }
    })
    function checkanswer(i) {
        if(i==solution){
            $('#T').show()
            $('#F').hide()
            $('#tb').show()
        }else{
            $('#T').hide()
            $('#F').show()
        }
    }
    function makequestion(i) {
        $('#tb').hide()
        $('#T').hide()
        $('#F').hide()
        let word = content.split(' ');
        let question="다음 보기 중 빈칸에 들어갈 단어로 가장적절한 단어를 고르시오. <br><br>"
        let input;
        for(n in word){
            if(n == i){
                input = word[n];
                question += "&nbsp;<a style='text-decoration-line: underline;'>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>&nbsp;";
            }else {
                question += word[n] + " ";
            }
        }
        question += "<br><br>"
        $.ajax({
            type: "POST",
            url: "/setquestion",
            data: {input : input}
        }).done( result => {
            console.log(result)
            let answer =""
            solution = Math.floor(Math.random() * 5);
            let n=0;
            let k=0;
            for(let i=0; i<5; i++) {
                n++;
                if(i == solution){
                    answer = answer + "<button class='btn btn-outline-dark' onclick='checkanswer(" + i + ")' id='answer'" + i + "'>" +n+". " +input + "</button>";
                }else {
                    answer = answer + "<button class='btn btn-outline-dark' onclick='checkanswer(" + i + ")' id='answer'" + i + "'>" +n+". " + result[k] + "</button>";
                    k++;
                }
            }
            $('#question').html(question);
            $('#answer').html(answer)
        })
    }
</script>
</body>
</html>
