<!DOCTYPE html>
<html lang="en">
<!-- Bootstrap core JavaScript -->
<script src="vendor/jquery/jquery.min.js"></script>
<script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

<!-- Plugin JavaScript -->
<script src="vendor/jquery-easing/jquery.easing.min.js"></script>

<!-- Custom scripts for this template -->
<script src="js/resume.min.js"></script>
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Vovavoca-Question</title>

    <!-- Bootstrap core CSS -->
    <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:500,700" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Muli:400,400i,800,800i" rel="stylesheet">
    <link href="vendor/fontawesome-free/css/all.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="css/resume.min.css" rel="stylesheet">

</head>
<style>
    .li-paddinghide{
        padding-left: 0px;
        padding-top: 8px;
        padding-bottom: 8px;
        padding-right: 0px;
    }
</style>
<body id="page-top">
    <nav style="background-color: #10184b !important;" class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
        <a class="navbar-brand js-scroll-trigger" href="#page-top">
            <span style="font-weight: 800; font-size: 2.3rem;" class="d-block d-lg-none">VOVA VOCA</span>
            <span style="font-weight: 800; font-size: 2.3rem;" class="d-none d-lg-block">VOVA</span> &nbsp;
            <span style="font-weight: 800; font-size: 2.3rem;" class="d-none d-lg-block">VOCA</span>
        </a>
        <br><br>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/search">Search</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/question">Question</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link js-scroll-trigger" href="/about">About</a>
                </li>
            </ul>
        </div>
    </nav>
    <div class="container-fluid p-0">
    <!--Adding Contents Here-->
        <div id="con" style="margin-left: 40px;">
            <section class="resume-section p-3 p-lg-5 d-flex align-items-center" id="about">
                <div class='w-100'>
                    <h2 class='mb-0' >Search Words</h2>
                    <div class='resume-item d-flex flex-column flex-md-row justify-content-between mb-0'>
                        <div class='resume-content'>
                            <br><br>
                            <form action='/clustering' method='post' class='form-inline' name="myForm">
                                <label class='field a-field a-field_a1'>
                                        <div class="group">
                                            <input type="text" id="input" name="input" required>
                                            <span class="highlight"></span>
                                            <span class="bar"></span>
                                            <label id="inputLabel">Word</label>
                                        </div>
                                    &nbsp;&nbsp;&nbsp;&nbsp;
                                    <div style="margin-bottom: 30px;">
                                        <button type="submit" id="submit" class="btn btn-outline-dark">Search</button>
                                    </div>
                                </label>
                            </form>
                        </div>
                    </div>
                    <table id="result_tb">
                        <thead>
                        <tr id="N_gram">
                        </tr>
                        <tr id="Soundex">
                        </tr>
                        <tr id="Metadex">
                        </tr>
                        <tr id="Hybrid">
                        </tr>
                        </thead>
                    </table>
                </div>
                <br><br>
            </section>
        </div>
    </div>
</body>
<script>
    var input = "<%= input%>"
    let Ngram = "<%= Ngram%>"
    let soundex = "<%=soundex%>"
    let hybrid = "<%= hybrid%>"
    let metadex = "<%= metadex%>"

    if (Ngram != "") {
        console.log('!!!!!')
        var outputArray = Ngram.split(',')
        var str = "<th class='all_th'>"+"N_gram"+"</th>"
        let num = 0;
        for (let i in outputArray) {
            num++;
            str = str + "<td class='normalTd'>" + num + ". " + outputArray[i] + "</td>"
        }
        $('#N_gram').html(str)
        $('#input').val(input)
    }
    if (soundex != "") {
        var outputArray = soundex.split(',')
        var str = "<th class='all_th'>"+"Soundex"+"</th>"
        let num = 0;
        for (let i in outputArray) {
            num++;
            if(i==10)
                break;
            str = str + "<td class='normalTd'>" + num + ". " + outputArray[i] + "</td>"
        }
        $('#Soundex').html(str)
        $('#input').val(input)
    }
    if (metadex != "") {
        var outputArray = metadex.split(',')
        var str = "<th class='all_th'>"+"Metadex"+"</th>"
        let num = 0;
        for (let i in outputArray) {
            num++;
            if(i==10)
                break;
            str = str + "<td class='normalTd'>" + num + ". " + outputArray[i] + "</td>"
        }
        $('#Metadex').html(str)
        console.log(str);
        $('#input').val(input)
    }

    if (hybrid != "") {
        var outputArray = hybrid.split(',')
        var str = "<th class='all_th'>"+"Hybrid"+"</th>"
        let num = 0;
        for (let i in outputArray) {
            num++;
            str = str + "<td class='normalTd'>" + num + ". " + outputArray[i] + "</td>"
        }
        $('#Hybrid').html(str)
        $('#input').val(input)
    }
</script>
</html>
