<section class='resume-section p-3 p-lg-5 d-flex align-items-center' id='about'> 
        <div class='w-100'> 
                <h1 class='mb-0'>Vova 
                        <span class='text-primary'>Voca</span> 
                    </h1> 
                <div class='subheading mb-5'><br>Machine Learning Project 2019-2. @ Team 6 -<br> 
                    <a href='mailto:name@email.com'>vovavoca@gmail.com</a> 
                </div> 
            <p class='lead mb-5'>Making a Project about <b>'Vocabulary'</b> for all students working on English tests. 
                Search and will find confusing words by various Algorithms of Clustering. Make your own workbook. 
                Providing exercises based on your archive. </p> 
            <div class='subheading mb-3'>Programming Languages &amp; Tools</div> 
            <ul class='list-inline dev-icons'> 
                <li class='list-inline-item'> 
                        <i class='fab fa-html5'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-css3-alt'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-js-square'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-angular'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-react'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-node-js'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-sass'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-less'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-wordpress'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-gulp'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-grunt'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-npm'></i> 
                    </li> 
            </ul> 
 
            <!--            <div class='social-icons'>--> 
            <!--                <a href='#'>--> 
            <!--                    <i class='fab fa-linkedin-in'></i>--> 
            <!--                </a>--> 
            <!--                <a href='#'>--> 
            <!--                    <i class='fab fa-github'></i>--> 
            <!--                </a>--> 
            <!--                <a href='#'>--> 
            <!--                    <i class='fab fa-twitter'></i>--> 
            <!--                </a>--> 
            <!--                <a href='#'>--> 
            <!--                    <i class='fab fa-facebook-f'></i>--> 
            <!--                </a>--> 
            <!--            </div>--> 
        </div> 
    </section>;

var str_search= 
 
    <hr class='m-0'> 
 
    <section class='resume-section p-3 p-lg-5 d-flex justify-content-center' id='search'> 
        <div class='w-100'> 
                <h2 class='mb-5'>Search Words</h2> 
     
                <div class='resume-item d-flex flex-column flex-md-row justify-content-between mb-5'> 
                    <div class='resume-content'> 
                            <h3 class='mb-0'>Looking for...</h3><br><br> 
              <form action='/clustering' method='post' class='form-inline'> 
                                <label class='field a-field a-field_a1'> 
                        <input class='field__input a-field__input' type='search' id='input' name='input' placeholder='단어' aria-label='Search'> 
                                    <span class='a-field__label-wrap'> 
              <span class='a-field__label'>Search Word</span> 
            </span> 
                        <button class='snip1535' type='submit'>Search</button> 
                                </label> 
                    </form>
         

               <ul id='tb' class='list-group list-group-horizontal'> 
         
                </ul>
         
                            <div class='subheading mb-3'>Intelitec Solutions</div> 
                        <p>Bring to the table win-win survival strategies to ensure proactive domination. At the end of the 
                                day, going forward, a new normal that has evolved from generation X is on the runway heading 
                                towards a streamlined cloud solution. User generated content in real-time will have multiple 
                                touchpoints for offshoring.</p> 
                    </div> 
                <div class='resume-date text-md-right'> 
                    <span class='text-primary'>March 2013 - Present</span> 
                </div> 
            </div> 
 
            <div class='resume-item d-flex flex-column flex-md-row justify-content-between mb-5'> 
                <div class='resume-content'> 
                        <h3 class='mb-0'>Web Developer</h3> 
                        <div class='subheading mb-3'>Intelitec Solutions</div> 
                    <p>Capitalize on low hanging fruit to identify a ballpark value added activity to beta test. 
                            Override the digital divide with additional clickthroughs from DevOps. Nanotechnology immersion 
                            along the information highway will close the loop on focusing solely on the bottom line.</p> 
                </div> 
                <div class='resume-date text-md-right'> 
                    <span class='text-primary'>December 2011 - March 2013</span> 
                </div> 
            </div> 
 
            <div class='resume-item d-flex flex-column flex-md-row justify-content-between mb-5'> 
                <div class='resume-content'> 
                        <h3 class='mb-0'>Junior Web Designer</h3> 
                        <div class='subheading mb-3'>Shout! Media Productions</div> 
                    <p>Podcasting operational change management inside of workflows to establish a framework. Taking 
                            seamless key performance indicators offline to maximise the long tail. Keeping your eye on the 
                            ball while performing a deep dive on the start-up mentality to derive convergence on 
                            cross-platform integration.</p> 
                </div> 
                <div class='resume-date text-md-right'> 
                    <span class='text-primary'>July 2010 - December 2011</span> 
                </div> 
            </div> 
 
            <div class='resume-item d-flex flex-column flex-md-row justify-content-between'> 
                <div class='resume-content'> 
                        <h3 class='mb-0'>Web Design Intern</h3> 
                        <div class='subheading mb-3'>Shout! Media Productions</div> 
                    <p>Collaboratively administrate empowered markets via plug-and-play networks. Dynamically 
                            procrastinate B2C users after installed base benefits. Dramatically visualize customer directed 
                            convergence without revolutionary ROI.</p> 
                </div> 
                <div class='resume-date text-md-right'> 
                    <span class='text-primary'>September 2008 - June 2010</span> 
                </div> 
            </div> 
 
        </div> 
 
    </section>;

var str_archive= 
    <section class='resume-section p-3 p-lg-5 d-flex align-items-center' id='archive'> 
        <div class='w-100'> 
                <h2 class='mb-5'>Education</h2> 
     
                <div class='resume-item d-flex flex-column flex-md-row justify-content-between mb-5'> 
                    <div class='resume-content'> 
                            <h3 class='mb-0'>University of Colorado Boulder</h3> 
                            <div class='subheading mb-3'>Bachelor of Science</div> 
                        <div>Computer Science - Web Development Track</div> 
                        <p>GPA: 3.23</p> 
                    </div> 
                <div class='resume-date text-md-right'> 
                    <span class='text-primary'>August 2006 - May 2010</span> 
                </div> 
            </div> 
 
            <div class='resume-item d-flex flex-column flex-md-row justify-content-between'> 
                <div class='resume-content'> 
                        <h3 class='mb-0'>James Buchanan High School</h3> 
                        <div class='subheading mb-3'>Technology Magnet Program</div> 
                    <p>GPA: 3.56</p> 
                </div> 
                <div class='resume-date text-md-right'> 
                    <span class='text-primary'>August 2002 - May 2006</span> 
                </div> 
            </div> 
 
        </div> 
    </section>;

var str_playandlearn= 
    <section class='resume-section p-3 p-lg-5 d-flex align-items-center' id='playandlearn'> 
        <div class='w-100'> 
                <h2 class='mb-5'>Skills</h2> 
     
                <div class='subheading mb-3'>Programming Languages &amp; Tools</div> 
            <ul class='list-inline dev-icons'> 
                <li class='list-inline-item'> 
                        <i class='fab fa-html5'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-css3-alt'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-js-square'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-angular'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-react'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-node-js'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-sass'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-less'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-wordpress'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-gulp'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-grunt'></i> 
                    </li> 
                <li class='list-inline-item'> 
                        <i class='fab fa-npm'></i> 
                    </li> 
            </ul> 
 
            <div class='subheading mb-3'>Workflow</div> 
            <ul class='fa-ul mb-0'> 
                <li> 
                        <i class='fa-li fa fa-check'></i> 
                        Mobile-First, Responsive Design 
                    </li> 
                <li> 
                        <i class='fa-li fa fa-check'></i> 
                        Cross Browser Testing &amp; Debugging 
                    </li> 
                <li> 
                        <i class='fa-li fa fa-check'></i> 
                        Cross Functional Teams 
                    </li> 
                <li> 
                        <i class='fa-li fa fa-check'></i> 
                        Agile Development &amp; Scrum 
                    </li> 
            </ul> 
        </div> 
    </section>;
<script>


    var input = "<%= input%>"
    let Ngram = "<%= Ngram%>"
    let soundex = "<%=soundex%>"
    let hybrid = "<%= hybrid%>"

    if(Ngram != "") {
        searchClick();
        console.log('!!!!!')
        var outputArray = Ngram.split(',')
        var str = ""
        let num = 0;
        for (let i in outputArray) {
            num++;
            str = str + "<li class='list-group-item'>"+num+". " + outputArray[i] + "</li>"
        }
        $('#tb1').html(str)
        $('#input').val(input)
    }
    if(soundex != "") {
        var outputArray = soundex.split(',')
        var str = ""
        let num = 0;
        for (let i in outputArray) {
            num++;
            str = str + "<li class='list-group-item'>"+num+". " + outputArray[i] + "</li>"
        }
        $('#tb2').html(str)
        $('#input').val(input)
    }
    if(hybrid != "") {
        var outputArray = hybrid.split(',')
        var str = ""
        let num = 0;
        for (let i in outputArray) {
            num++;
            str = str + "<li class='list-group-item'>"+num+". " + outputArray[i] + "</li>"
        }
        $('#tb3').html(str)
        $('#input').val(input)
    }

</script>
